<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link href="/stylesheets/question.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1>Test Review App</h1>
      <p>Your go-to platform for effective test preparation</p>
      <nav>
        <a href="/">Home</a>
        <a href="/question">Review</a>
      </nav>
    </header>

    <main>
      <h2><%= question.question %></h2>
      <form id="question-form" action="/question" method="POST">
        <!-- Add a hidden input to store the question ID -->
        <input type="hidden" name="questionId" value="<%= question._id%>">
        <label class="option-label">
        <input type="radio" name="answer" value="A">
        A. <%= question.options.A %>
        </label>
        <label class="option-label">
        <input type="radio" name="answer" value="B">
        B. <%= question.options.B %>
        </label>
        <label class="option-label">
        <input type="radio" name="answer" value="C">
        C. <%= question.options.C %>
        </label>
        <label class="option-label">
        <input type="radio" name="answer" value="D">
        D. <%= question.options.D %>
        </label>
        <button type="submit">Submit</button>
      </form>
      <!-- Add a placeholder for the message -->
      <div id="message"></div>
      <form action="/question" method="GET">
        <br></br>
        <button id="new-question" type="submit">New Question</button>
      </form>
    </main>

    <footer>&copy; 2023 Test Review App</footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- jquery UI -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
    <!-- Question script-->
    <script>
      // Get references to the form and messageContainer
      const form = document.getElementById('question-form');
      const messageContainer = document.getElementById('message');
      
      // Add event listener to the form
      form.addEventListener('submit', async (event) => {
        event.preventDefault();
      
        // Get form data
        const formData = new FormData(event.target);
      
        // Convert FormData to URL-encoded string
        const queryString = formDataToQueryString(formData);
      
        // Send form data to the server
        const response = await fetch('/question', {
          method: 'POST',
          body: queryString,
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
        });
      
        // Parse the response JSON
        const result = await response.json();
      
        // Update the message container with the result
        messageContainer.textContent = result.message;
      
        // Animate message and change text color according to answer
        var color = result.message == "Correct!" ? "green" : "red";
      
        $("#message").css({"color": color}).effect("bounce", { times: 3 }, 500);
        });
      
      // Helper function to convert FormData to URL-encoded string
      function formDataToQueryString(formData) {
        const params = new URLSearchParams();
      
        for (const [key, value] of formData.entries()) {
          params.append(key, value);
        }
      
        return params.toString();
      }
    </script>
  </body>
</html>
